.slide_box ul.content > li{top:100%;left:0!important;}
.slide_box > ul.slide li{top:100%;left:0!important;}
.slide_box > ul.slide li img{position:absolute;left:50%!important;top:80%;margin-left:-1000px;}