<<<<<<< HEAD
.post_thumbnail{margin:8px 0px;}
.post_content{border-bottom:1px solid #757575; margin:8px;}
=======
.post_thumbnail{margin:8px 0px;}
.post_content{border-bottom:1px solid #757575; margin:8px;}
>>>>>>> 2a7c8708be9e8802e63e5c3ff3c261cba24fea84
.widget-area .widget p {margin: 5px !important;}